    $dark-fuchsia: #ac0c63;
    $white: #ffffff;
    $cerise: #f01863;
    $charcoal-grey: #35353e;
    $purple-brown: #241a1b;
    $black: #333333;
    $charcoal-grey-two: #3c3c45;
    $battleship-grey: #74757a;
    $dark: #191922;
    $pale-grey: #efeff1;
    $silver: #c4c5ca;
    $pale-grey-two: #f7f7f8;
    $white-two: #f4f4f4;
    $very-light-pink: #ffebeb;

    $grid-width: 114rem;
    $gutter-vertical: 2rem;
    $gutter-vertical-small: 1rem;
    $gutter-horizontal: 2rem;