.playstore {
    font-family: inherit;
    background-color: $pale-grey-two;
    padding: 8rem 0 8rem 2rem;
    
  }

  .playstore-main {
      display: flex;
      justify-content: center;
      align-items: center;
  }
.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    &-large {
        height: 40rem;
        width: 20rem;
        @include respond(phone) { 
            height: 30rem;
            width: auto;
        }
     
    }

    &-small {
        margin: 0 0 0 2rem;
        height: 32rem;
        width: 17rem;
        @include respond(phone) { 
            height: 25rem;
            width: auto;
            margin: 0 1rem;
        }
    }

    &-content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 4rem 10rem;
        @include respond(tab-port) { 
            padding: 2rem 1rem;
        }
        @include respond(phone) { 
            padding: 2rem 1rem;
        }

        &__store {
            img {
                height: 50%;
                width: 125px;
            }
        }
        h2 {
            padding-bottom: 2rem;
            color: $charcoal-grey;
        }

        p {
            color: $charcoal-grey-two;
        }
    }
}